<configuration>
    <property name="GENERAL_LOG_LEVEL" value="${GENERAL_LOG_LEVEL:-INFO}"/>
    <property name="APPLICATION_LOG_LEVEL" value="${APPLICATION_LOG_LEVEL:-DEBUG}"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{ISO8601} %-5level- %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.swissborg.lithium.resolver.SplitBrainResolver" level="${APPLICATION_LOG_LEVEL}"/>
    <logger name="com.swissborg.lithium.reporter.SplitBrainReporter" level="${APPLICATION_LOG_LEVEL}"/>
    <logger name="com.swissborg.lithium.reachability.ReachabilityReporter" level="${APPLICATION_LOG_LEVEL}"/>

    <root level="${GENERAL_LOG_LEVEL}">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
